/* Vendor imports */
@import "vendor/bootstrap";

/* Main imports */
@import "main/base";

/* Partial imports */
@import "main/partials/reset";
@import "main/partials/fullscreen";
@import "main/partials/alingment";

// Variables

// Containers
body {
  background-color: $lnsd-primary-dark;
  font-family: $body-font-family;
  color: $lnsd-primary-dark;
}