//- Main (index.html)
- var bg_photo_credit = { name: "S Hassler", url: 'https://www.flickr.com/photos/sh485/', }

doctype html
html(lang='en')
    head
        meta(charset='utf-8')
        meta(http-equiv='X-UA-Compatible', content='IE=edge')
        meta(name='viewport', content='width=device-width, initial-scale=1')
        meta(name='description', content='')
        meta(name='author', content='')

        title LNSD

        // Styling
        link(href='styles/main.css', rel='stylesheet')
        link(href='http://fonts.googleapis.com/css?family=Montserrat:400,700', rel='stylesheet', type='text/css')
        link(href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400', rel='stylesheet', type='text/css')

        // JavaScript
        script(src='js/jquery.min.js')
        script(src='js/bootstrap.min.js')

    body#top.full-height.font-light
        header.height-95
            .container.full-height.display-table
                .row
                    .col-lg-offset-3.col-lg-6
                        #main-logo
                        h1#text-logo.text-center LNSD

                        #info
                            h2.text-center Lorenzo Delgado Antequera
                            p.text-center Electronics &amp; Telecommunications Engineer

                        nav.text-center
                            ul
                                li
                                    a(href="/resume") resume
                                li
                                    a(href="/blog") blog
                                li
                                    a(href="/contact") contact

        footer.height-5
            .container-fluid
                .row
                    .col-lg-offset-10.col-lg-2
                        #photo-credit.font-light
                            a(href=bg_photo_credit.url)!="Photo Credit: "+bg_photo_credit.name

        // JavaScript
        script(src='js/main.js')
