@import "../base";

.not-found {
  height: 100%;

  body { height: 100%; }

  h1, h3 {
    font-family: $eightbit-font-family;
  }

  p {
    text-align: center;
  }

  nav {
    display: inline-block;

    li a {
      padding: 15px 35px;
    }
  }
}