@import "../base";

.not-found {
  height: 100%;

  body { height: 100%; }
  .container { height: 100%; }


  h1, h3 {
    text-align: center;
    font-family: $eightbit-font-family;
  }

  p {
    text-align: center;
  }

  nav li a {
    &:hover, &:focus {
      background-color: transparent;
    }
  }
}