// Center horizontally inside a div
.center {
  display: block;
  margin: 0 auto;
}

// Vertical center using Twitter Bootstrap
.vertical-alignment {
  display: table;

  .row {
    display: table-cell;
    vertical-align: middle;

    .align-top {
      vertical-align: baseline;
    }

    .align-bottom {
      vertical-align: bottom;
    }
  }
}