.full-height {
  height: 100%;
  margin: {
    top: 0;
    bottom: 0;
  }
}

.full-width {
  width: 100%;
  margin: {
    left: 0;
    right: 0;
  }
}

.height-95 {
  height: 95%;
  margin: {
    top: 0;
    bottom: 0;
  }
}

.height-90 {
  height: 90%;
  margin: {
    top: 0;
    bottom: 0;
  }
}

.height-80 {
  height: 80%;
  margin: {
    top: 0;
    bottom: 0;
  }
}

.height-50 {
  height: 50%;
  margin: {
    top: 0;
    bottom: 0;
  }
}

.height-10 {
  height: 10%;
  margin: {
    top: 0;
    bottom: 0;
  }
}

.height-5 {
  height: 5%;
  margin: {
    top: 0;
    bottom: 0;
  }
}
