// Home style section (index.html)
@import "../base";

$bg-img-xs: "../assets/lnsd-antenna-bg-xs.jpg";
$bg-img-sm: "../assets/lnsd-antenna-bg-sm.jpg";
$bg-img-md: "../assets/lnsd-antenna-bg-md.jpg";
$bg-img-lg: "../assets/lnsd-antenna-bg-lg.jpg";

.home {
  height: 100%;

  body {
    height: 100%;
    margin: 0;
    background-color: $lnsd-primary-dark;

    @include cover-bg($bg-img-lg, $position: center, $size: cover);
    @media (max-width: $screen-xs-max) {
      @include cover-bg($bg-img-xs, $position: center, $size: cover);
    }
    @media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
      @include cover-bg($bg-img-sm, $position: center, $size: cover);
    }
    @media (min-width: $screen-md-min) and (max-width: $screen-md-max) {
      @include cover-bg($bg-img-md, $position: center, $size: cover);
    }
    @media (min-width: $screen-lg-min) {
      @include cover-bg($bg-img-lg, $position: center, $size: cover);
    }
  }

  .container {
    height: 100%;
  }

  main { height: 100%; }

  h1, h2, h3, h4, h5, h6 {
    font-size: 28px;
    color: $lnsd-primary-light;
  }

  p {
    color: $lnsd-primary-light;
    text-align: center;
    font-size: 18px;
    &:last-of-type {
      margin: 0;
    }
  }

  a {
    color: $lnsd-primary-light;
  }

  // Logo styles
  .logo {
    height: 250px;

    .logo-circle {
      fill: rgba(255, 255, 255, .25);
      stroke: $lnsd-primary-light;
      stroke-width: 9;
    }
    .logo-cross {
      fill: $lnsd-primary-light;
      stroke: $lnsd-primary-light;
      stroke-width: 5;
    }
  }

  .text-logo {
    font-family: $body-font-family;
    font-size: 60px;
    font-weight: 300;
    letter-spacing: 7px;
    text-align: center;
  }

  // Info style
  #info {
    h2 { margin: 0; }
    p { margin: 0; }
  }

  #photo-credit {
    position: fixed;
    right: 25px;
    bottom: 15px;

      a {
        font-size: 12px;
        font-weight: 100;

        &:hover,
        &:focus {
          color: white;
        }
      }
  }
}