extends blog

prepend title
    | #{title + " • "}

block content
    section.container
        .row
            .col-lg-offset-2.col-lg-8
                header(style="background-image: url("+path+"/header.jpg)").cover
                    .cover-content
                        .title
                            h2!= title
                            small
                                time.timestamp(datetime=date)= moment(date).format('MMMM D, YYYY')

                main.content-article!= contents











