//- Resume index (resume/index.html)
extends layout
append vars
    - var style = 'resume';
    - var urlbase = '/resume/';

block title
    = "Resume" + " • " + name

append styles
    link(href='http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,700', rel='stylesheet', type='text/css')

block header
    header.container
        .row
            .col-lg-offset-3.col-lg-6
                .logo
                .text-logo
                    h1.text-logo LNSD
        .row
            .col-lg-offset-2.col-lg-8
                nav
                    ul
                        li
                            a(href="/") home
                        li
                            a(href="/resume").active resume
                        li
                            a(href="/blog") blog
                        li
                            a(href="/contact") contact

block content
    .timeline
        // Header
        header#header
            .container
                .row
                    .col-sm-6.col-sm-offset-3.text-center
                        img.face(src='../assets/lnsd-face-sm.jpg', alt='')
                        p.header-name Lorenzo Delgado
                        p.header-title Electronics and Telecommunications Engineer
                        p.header-subtitle
                            b Hello my name is Lorenzo Delgado&nbsp;
                            | and I am a Electronics & Telecommunications engineer from Valencia, Spain. Currently I am last year student of
                            | Master degree in Telecommunications Engineering. I am trying to focus my career in digital electronics field.
                            | But I am also interested in Android and web development, also I'm working in personal projects related with
                            | Internet of Things.
        // end Header

        // Profile
        section#profile.profile.activate
            .container
                .row
                    .col-sm-6.col-sm-offset-4
                        ul
                            li.title
                                i.fa.fa-users
                                | Profile
                            li
                                span.note Full name
                                p
                                    strong Lorenzo Delgado Antequera
                            li
                                span.note Born
                                p
                                    strong 02 May 1992
                                p
                                    strong Valencia, Spain
                            li
                                span.note Linkedin profile
                                p
                                    strong
                                        a(href='https://www.linkedin.com/in/lorenzodelgado') https://www.linkedin.com/in/lorenzodelgado
                            li.static
                                span.note Social media
                                p
                                    a(href="https://www.facebook.com/LNSD002").social.facebook
                                        i.fa.fa-facebook-official
                                    a(href="https://twitter.com/LNSD002").social.twitter
                                        i.fa.fa-twitter
                                    a(href="https://www.linkedin.com/in/lorenzodelgado").social.linkedin
                                        i.fa.fa-linkedin-square
                                    a(href="https://github.com/LNSD").social.github
                                        i.fa.fa-github
                                    a(href="https://www.google.com/+LorenzoDelgadoLNSD").social.googleplus
                                        i.fa.fa-google-plus-square
                                    a(href="https://instagram.com/lnsd.es").social.instagram
                                        i.fa.fa-instagram
                                    a(href="https://dribbble.com/LNSD").social.dribbble
                                        i.fa.fa-dribbble

        // end Profile

        // Work experience
        section#work-experience.work-experience
            .container
                .row
                    .col-sm-6.col-sm-offset-4
                        ul
                            li.title
                                i.fa.fa-briefcase
                                | Work experience
                            li
                                span.note November 2013 - November 2014
                                p
                                    strong Formula Student UPV
                                p
                                    strong Electronics manager
                                    |  in Valencia, Spain
                                p.description
                                    | In the 2014 season at Formula Student UPV team was designed and manufactured the basic power
                                    | electronic system of the car; also was designed and prototyped the acquisition and telemetry system
                                    | based in an ARM microcontroller and 2.4 GHz RF communications.
                            li
                                span.note May 2014 - July 2014
                                p
                                    strong Wanty app
                                p
                                    strong Telefonica Talentum Long Track
                                    |  in Valencia, Spain
                                p.description
                                    | Wanty App is a mobile application for meeting people who is in the same place as you. During this
                                    | second period of the Telefonica's Talentum grant I was responsible of developing the Android's app user
                                    | interface and tested the Bluetooth 4.0 LE beacon advertisement technology possibilities of Android SDK.

                            li
                                span.note February 2014 - April 2014
                                p
                                    strong Geozate
                                p
                                    strong Telefonica Talentum Long Track
                                    |  in Valencia, Spain
                                p.description
                                    | Geozate is a geolocation based mobile game aimed at team building. During the first part of the
                                    | Telefonica's Talentum I was responsible of building the Geozate-team Wordpress site and the English
                                    | translation of the Geozate's Android app.
                            li
                                span.note March 2013 - February 2014
                                p
                                    strong Trobi team
                                p
                                    strong Android developer
                                    |  in Valencia, Spain
                                p.description
                                    | I played the Android developer role in Trobi team. During this period we won four awards in two
                                    | different hackathons: #Hack4SomethingBetter and #Hack4Good. Also we participated in StartUPV program.
        // end Work experience

        // Education
        section#education.education
            .container
                .row
                    .col-sm-6.col-sm-offset-4
                        ul
                            li.title
                                i.fa.fa-book
                                | Education
                            li
                                span.note September 2014 - Current
                                p
                                    strong Masters Degree in Telecom engineering
                                p
                                    strong Universitat Politècnica de València
                                    |  in Valencia, Spain
                                p.description
                                    | A Telecommunication engineer should be capable to advise, design, manage , install and maintain the
                                    | infrastructure and the electronic and telecom equipment of any company. Techniques related to the
                                    | information treatment and transmission are als competences of a Telecom Engineer. In conjunction
                                    | with the bachelor's degree in telecommunications, this is the successors of the old degree in
                                    | Telecommunicactions.
                            li
                                span.note 2010 - 2014
                                p
                                    strong Bachelors Degree in Telecom engineering
                                p
                                    strong Universitat Politècnica de València
                                    |  in Valencia, Spain
                                p.description
                                    | The Bachelor degree in Telecommunications enable professionals to face engineering problems like
                                    | signal transmission and reception or networks the interconnections. It also includes the study of
                                    | electronics communication systems design. This degree is the entry point for the integrated program
                                    | with the Master degree in Telecommunications. Together are the successors of the old degree in
                                    | Telecommunicactions.
        // end Education

        // Awards
        section#awards.awards
            .container
                .row
                    .col-sm-6.col-sm-offset-4
                        ul
                            li.title
                                i.fa.fa-trophy
                                | Awards
                            li
                                span.note November 2014
                                p
                                    strong Bachelor degree thesis distiction (10 M.H.)
                                p
                                    strong Universitat Politècnica de València
                                    |  in Valencia, Spain
                                p.description
                                    | Vestibulum ut pharetra diam, vitae hendrerit sapien. Praesent porttitor augue nec semper suscipit. Nulla et cursus lectus. Praesent vel feugiat dolor.
                            li
                                span.note September 2013
                                p
                                    strong
                                        a(href="https://github.com/pepibumur/SmileSpaces") Smilespaces
                                        | &nbsp;- 1st place and Global winner -&nbsp;
                                        a(href="http://h4sb.org/") #H4SB
                                p
                                    strong Campus Party Europe
                                    |  in London, UK
                                p.description
                                    | SmileSpaces is a interesting platform to find the best happy areas in your city according to many
                                    | factors, curltural, healthy, users... Thanks to our advanced algorith "Felix" and exhaustive data
                                    | analysis. Moreover you'll have a full API REST for implementing your own solution with our data.


                            li
                                span.note February 2013
                                p
                                    strong Toc-Toc - Global winner. Comillas foundation - #HackForGood
                                p
                                    strong Universitat Politècnica de València
                                    |  in Valencia, Spain
                                p.description
                                    | TOC-TOC is a platform for those people intellectually disabled o with Alzheimer's who require to be
                                    | located, but only when they want so. We developed a initial prototype in two days which includes: a
                                    | mobile application and a web application for tracking.
                            li
                                span.note February 2013
                                p
                                    strong Toc-Toc - Comillas foundation global winner - #HackForGood
                                p
                                    strong Universitat Politècnica de València
                                    |  in Valencia, Spain
                                p.description
                                    | TOC-TOC is a platform for those people intellectually disabled o with Alzheimer's who require to be
                                    | located, but only when they want so. We developed a initial prototype in two days which includes: a
                                    | mobile application and a web application for tracking.
        // end Awards

        // Skills
        section#skills.skills
            .container
                .row
                    .col-sm-6.col-sm-offset-4
                        ul
                            li.title
                                i.fa.fa-wrench
                                | Skills

                            li.static
                                span.note Electronics & Telecommunications
                                span.tag.expert HDL Design
                                span.tag.expert HDL Verification
                                span.tag.expert MCU Firmware development
                                span.tag.expert Algorithm optimisation
                                span.tag.expert Project management
                                span.tag.med Digital Signal Processing
                                span.tag.med Optical Communications
                                span.tag.med PCB Design/Manufacturing
                                span.tag.basic High frequency electronics

                            li.static
                                span.note IT Egineering
                                span.tag.expert Joomla/Wordpress
                                span.tag.med Jade lang/HTML5
                                span.tag.med Sass/CSS3
                                span.tag.med Android Development
                                span.tag.basic CoffeeScript/Javascript
                                span.tag.basic Node.js

                            li.static
                                span.note Engineering tools
                                span.tag.expert Matlab
                                span.tag.expert System-Verilog/VHDL
                                span.tag.expert Altera Quartus II
                                span.tag.expert Mentor Graphics Modelsim
                                span.tag.expert Git/Github
                                span.tag.expert C/C++
                                span.tag.expert IntelliJ IDEA
                                span.tag.med Java
                                span.tag.med Altium Designer
                                span.tag.med Cadsoft Eagle
                                span.tag.med ARM Microcontrollers
                                span.tag.med AVR/Arduino
                                span.tag.basic 3DS Solidworks
                                span.tag.basic NI LabView
                                span.tag.basic C#
                                span.tag.basic Visual Studio

                            li.static
                                span.note Other tools
                                span.tag.basic Adobe Photoshop
                                span.tag.basic Adobe Illustrator
        // end Skills

        // Interests
        section#interests.interests
            .container
                .row
                    .col-sm-6.col-sm-offset-4
                        ul
                            li.title
                                i.fa.fa-heart-o
                                | Interests
                            li
                                p
                                    strong Mobile & web development
                                p.description
                                    | Due the extensive information that can be found on the internet about this two topics and, of course
                                    | because they are hot topic, I've developed this interest. Related to this, I'm also interested in IoT.
                            li
                                p
                                    strong Design
                                p.description
                                    | I am interested in design. I love simple and minimalistic, but functional designs. Leonardo da Vinci
                                    | said once: «Simplicity is the ultimate sophistication».
                            li
                                p
                                    strong Music
                                p.description
                                    | As a hobby, I am musician. I play the trombone in my village's band. I'm interested in electronic
                                    | music too; and also all the devices involved in its production (synthesisers, MIDI instruments, etc.)
        // end Interests

        // Contact
        section#contact.contact
            .container
                .row
                    .col-sm-6.col-sm-offset-4
                        ul
                            li.title
                                i.fa.fa-envelope
                                | Contact
                            li.static
                                span.note Email
                                p
                                    strong
                                        a(href='mailto://lorenzo.delgado@lnsd.es') lorenzo.delgado@lnsd.es
                                hr.empty
                                form
                                    .form-group.input-group
                                        span.input-group-addon
                                            i.fa.fa-user
                                        input#inputname.form-control(name='yourname', type='text', placeholder='Enter your name')
                                    .form-group.input-group
                                        span.input-group-addon
                                            i.fa.fa-envelope
                                        input#inputemail.form-control(name='email', type='email', placeholder='Enter your email')
                                    .form-group.input-group
                                        span.input-group-addon
                                            i.fa.fa-bold
                                        input#inputsubject.form-control(name='subject', type='text', placeholder='Enter subject')
                                    .form-group.input-group
                                        span.input-group-addon
                                            i.fa.fa-comment
                                        textarea#inputmessage.form-control(name='comments', rows='3', placeholder='Enter message here')
                                    button.btn.btn-success.pull-right(type='submit')
                                        i.fa.fa-paper-plane
                                        |  Send message
                            li.title.up
                                i.fa.fa-arrow-up
                                | Up
        // end Contact

append scripts
    script(src='../js/vendor/jquery.min.js')
    script(src='../js/main.js')
