/* Vendor imports */
@import "vendor/bootstrap";
@import "vendor/fontawesome";

/* Main imports */
@import "base";

/* Partial imports */
@import "partials/reset";
@import "partials/fullscreen";
@import "partials/alingment";
@import "partials/home";
@import "partials/404";
@import "partials/blog";

html {
  min-height: 100%;
}

body {
  min-height: 100%;
  background-color: white;
  font-family: $body-font-family;
  color: $lnsd-primary-dark;
}

// Font styles
.font-light { color: $lnsd-primary-light; }
.font-dark { color: $lnsd-primary-dark; }
.huge { font-size: 90px; }

a {
  color: $lnsd-primary-dark;
  font-weight: 400;
  -webkit-transition: all .2s ease-in-out;
  -moz-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;

  &:hover,
  &:focus {
    text-decoration: none;
    font-weight: bold;
    color: $lnsd-primary-middle;
  }
}

h1, h2, h3, h4, h5, h6 {
  color: $lnsd-primary-dark;
  font-family: $headline-font-family;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 15px;

  a { font-weight: 700; }
}

p {
  margin: 0 0 25px;
  font-size: 14px;
  font-weight: 300;
  text-align: justify;
}

@media(min-width: $screen-xs-max) {
  p {
    margin: 0 0 15px;
    font-size: 16px;
  }
}

// Navigation menu

nav {
  list-style-type: none;
  padding: 12px;
  border-top: 1px solid $lnsd-primary-light;
  border-bottom: 1px solid $lnsd-primary-light;
  text-align: center;

  li {
    display: inline;

    a {
      padding: 15px 45px;
      text-transform: uppercase;
      letter-spacing: 2px;

      &:hover,
      &:focus {
        color: $lnsd-primary-dark;
        font-weight: bolder;
      }
    }
  }
}

header nav {
  padding: 15px;

  li {
    &::after {
      content: "•"; //✕,—
      margin: 0 10px;
      color: rgba(255, 255, 255, .75);
    }
    &:last-child::after {
      display: none
    }

    a {
      &:hover,
      &:focus {
        background-color: rgba(255, 255, 255, .6);
      }
    }
  }
}
