/* Vendor imports */
@import "vendor/bootstrap";
@import "vendor/fontawesome";

/* Main imports */
@import "base";

/* Partial imports */
@import "partials/reset";
@import "partials/alingment";
@import "partials/home";
@import "partials/404";
@import "partials/blog";

html {
  min-height: 100%;
}

body {
  min-height: 100%;
  background-color: white;
  font-family: $body-font-family;
  color: $lnsd-primary-dark;
}

// Font styles
.font-light { color: $lnsd-primary-light; }
.font-dark { color: $lnsd-primary-dark; }
.huge { font-size: 90px; }

a {
  color: $lnsd-primary-dark;
  font-weight: 400;
  -webkit-transition: all .2s ease-in-out;
  -moz-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;

  &:hover,
  &:focus {
    text-decoration: none;
    font-weight: bold;
    color: $lnsd-primary-middle;
  }
}

h1, h2, h3, h4, h5, h6 {
  color: $lnsd-primary-dark;
  font-family: $headline-font-family;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 15px;

  a { font-weight: 700; }
}

p {
  margin: 0 0 25px;
  font-size: 14px;
  font-weight: 300;
  text-align: justify;
}

@media(min-width: $screen-xs-max) {
  p {
    margin: 0 0 15px;
    font-size: 16px;
  }
}

// Navigation menu

nav {
  padding: 12px;
  text-align: center;

  ul {
    list-style-type: none;
    border-top: 1px solid $lnsd-primary-light;
    border-bottom: 1px solid $lnsd-primary-light;
    display: inline-block;
    padding: { 
      top: 14px;
      bottom: 13px;
      left: 5px;
      right: 5px;
    };

    li {
      display: inline-block;
      &::after {
        content: "•"; //✕,—
        margin: 0 10px;
        color: rgba(255, 255, 255, .75);
      }
      &:last-child::after {
        display: none
      }

      a {
        text-transform: uppercase;
        letter-spacing: 2px;
        padding: 15px 45px;

        &:hover,
        &:focus {
          color: $lnsd-primary-dark;
          font-weight: bolder;
          background-color: rgba(255, 255, 255, .6);
        }
      }
    }
  }
}

header nav {
  padding: 0;
  margin-bottom: 25px;
  ul {
    padding: { top: 8px; bottom: 12px; }
    li {
      &::after {
        font-size: 20px;
        color: rgba(0, 0, 0, 0.15);
      }

      a {
        &:hover,
        &:focus {
          background-color: transparent;
        }
      }
    }
  }
}